.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pytest_cache
.ruff_cache
.venv
.vscode
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
.git
__pycache__/
*.py[cod]
*.log
.coverage
coverage.xml
htmlcov/
node_modules/
build/
dist/
backups/
access_logs/
staticfiles/
media/
webpack-stats.json
spanza_journal_watch/static/webpack_bundles/
docs/_build/
deploy/
local.yml
docker-compose*.yml
*.sqlite3
*.db
venv
