{% load static %}
<div class="modal fade pb-5" id="modal-{{ review.slug }}" tabindex="-1" aria-labelledby="modal-label-{{ review.slug }}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-label-{{ review.slug }}">Journal Watch - Review</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-center">
                <img src="{% static "images/spinners/3-dots-move.svg" %}" id="indicator-{{ review.slug }}" class="htmx-indicator">
                </div>
            <div class="container p-2 px-md-5" id="container-{{ review.slug }}"></div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
            <a rel="bookmark" href="{{ review.get_absolute_url }}" class=" my-2 icon-link gap-1 icon-link-hover text-decoration-none">Permalink<svg class="bi"><use xlink:href="#chevron-right"/></svg></a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
    </div>
    </div>
</div>
