{% load static %}
<div class="modal fade" id="modal-{{ review.slug }}" tabindex="-1" aria-labelledby="modal-label-{{ review.slug }}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-label-{{ review.slug }}">Journal Watch - Review</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-center">
                <img src="{% static "images/spinners/3-dots-move.svg" %}" id="indicator-{{ review.slug }}" class="htmx-indicator">
                </div>
            <div class="container p-2 px-md-5" id="container-{{ review.slug }}" data-review-modal-container></div>
        </div>
    </div>
    </div>
</div>
<template data-review-modal-dock-template="modal-{{ review.slug }}">
    {% include "fragments/sticky_pager_actions.html" with is_modal_navigation=True modal_id="modal-"|add:review.slug aria_label="Review modal navigation" %}
</template>
