{% load static i18n %}{% load render_bundle from webpack_loader %}{% load view_breadcrumbs %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head><script src="{% static 'js/color-modes.js'%}"></script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Journal Watch{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Journal Watch - by the Society of Paediatric Anaesthesia in New Zealand and Australia">
    <meta name="author" content="Eamonn Upperton">

    <link rel="icon" href="{% static 'images/logo/square-brackets.svg' %}" type="image/svg" size='any' media="(prefers-color-scheme: light)">
    <link rel="icon" href="{% static 'images/logo/square-brackets-white.svg' %}" type="image/svg" size='any' media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#152b3b">

    {% block css %}
    {% render_bundle 'project' 'css' %}
    {% endblock %}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file -->
      {% render_bundle 'vendors' 'js' attrs='defer' %}
      <!-- place project specific Javascript in this file -->
      {% render_bundle 'project' 'js' attrs='defer' %}
    {% endblock javascript %}

  </head>

  <body>
    <!-- Container for HTMX messages -->
    {% include "fragments/messages.html" %}
    <!-- /container -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url "backend:dashboard" %}">Journal Watch Settings</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            {% if request.user.is_staff %}
              {% with current=request.resolver_match.url_name %}
              <li class="nav-item">
                <a class="nav-link{% if current == 'dashboard' %} active{% endif %}" href="{% url "backend:dashboard" %}">Dashboard</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle{% if current == 'issue_builder' or current == 'save_issue_draft' or current == 'update_issue_draft' or current == 'new_issue_review_form' or current == 'add_issue_review' or current == 'edit_issue_review_form' or current == 'update_issue_review' or current == 'remove_issue_review' or current == 'publish_issue_bundle' or current == 'issue_planka_import' or current == 'planka_save_api_key' or current == 'planka_setup_issue_project' or current == 'planka_refresh_publish_cards' or current == 'planka_import_publish_card' or current == 'planka_update_project_background' or current == 'planka_update_project_name' %} active{% endif %}"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Editorial
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url "backend:issue_builder" %}">Issue Builder</a></li>
                  <li><a class="dropdown-item" href="{% url "backend:issue_planka_import" %}">Planka Sync</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle{% if current == 'upload_subscribers' or current == 'edit_csv_header' or current == 'process_csv' or current == 'subscriber_list' %} active{% endif %}"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Subscribers
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url "backend:upload_subscribers" %}">Upload Subscribers</a></li>
                  <li><a class="dropdown-item" href="{% url "backend:subscriber_list" %}">Mailing List</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle{% if current == 'newsletter_release_list' or current == 'create_newsletter' or current == 'final_newsletter' or current == 'send_test_newsletter' or current == 'enable_newsletter_resend' or current == 'send_final_newsletter' or current == 'newsletter_stats_list' or current == 'newsletter_stats_detail' %} active{% endif %}"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Newsletter
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url "backend:newsletter_release_list" %}">Release</a></li>
                  <li><a class="dropdown-item" href="{% url "backend:newsletter_stats_list" %}">Statistics</a></li>
                </ul>
              </li>
              {% endwith %}
              {% endif %}
              <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name in 'account_logout' %} active{% endif %}" href="{% url "account_logout" %}">Log Out</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name in 'account_login' %} active{% endif %}" href="{% url "account_login" %}">Log In</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    <!-- Main container -->
    <main class="container p-3 col-xl-10 offset-xl-1 col-12">
        {% block content %}{% endblock content %}
    </main>

    {% block inline_javascript %}{% endblock inline_javascript %}

  </body>

</html>