<div class="" id="csv-table">
    {% include "backend/edit_csv_header.html" %}
    <table class="table">
        <thead>
            {% for header in preview.fieldnames %}
            <th scope="col">{{ header }}</th>
            {% endfor %}
        </thead>
        {% for row in preview %}
        {% if forloop.counter < 6 %}
        <tr>
            {% for cell in row.values %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <div id="process-csv" class="py-3">
        <button class="btn btn-outline-primary" hx-get="{% url "backend:process_csv" instance.save_token %}" hx-target="#process-csv" hx-swap="outerHTML">Submit CSV for processing</button>
    </div>
</div>

