{% if content.overlay_light or content.overlay_dark or content.additional_css%}
<style>
    {% if content.overlay_light %}
    .transparent-overlay{
        {{ content.overlay_light }}
    }
    {% endif %}
    {% if content.overlay_dark %}
    [data-bs-theme='dark'] .transparent-overlay{
        {{ content.overlay_dark }}
    }
    {% endif %}
    {% if content.additional_css %}
    {{ content.additional_css }}
    {% endif %}
</style>
{% endif %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary main-feature">
    {% if content.image %}
    <div class="transparent-overlay"></div>
    <img src="{{ content.image.url }}" alt="Feature Image" class="feature-image">
    {% endif %}
    <div class="row">
    <div class="col-lg-8 feature-content">
        <h1 class="display-4 fst-italic">{{ content.title|capfirst }}</h1>
        <div class="lead my-3">{{ content.body|capfirst }}</div>
        {% if truncated %}
        <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
        {% endif %}
      </div>
    </div>
</div>
