{% if content.light_gradient or content.dark_gradient %}
<style>
    {% if content.light_gradient %}
    .transparent-overlay{
        {{ content.light_gradient }}
    }
    {% endif %}
    {% if content.dark_gradient %}
    [data-bs-theme='dark'] .transparent-overlay{
        {{ content.dark_gradient }}
    }
    {% endif %}
</style>
{% endif %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary main-feature">
    {% if content.image %}
    <div class="transparent-overlay"></div>
    <img src="{{ content.image.url }}" alt="Feature Image" class="feature-image">
    {% endif %}
    <div class="row">
    <div class="col-lg-8 feature-content">
        <h1 class="display-4 fst-italic">{{ content.title|capfirst }}</h1>
        <div class="lead my-3">{{ content.body|capfirst }}</div>
      </div>
    </div>
</div>
