{% load cache %}
{% cache 1800 "issue_detail_articles" content_cache_version request.get_full_path %}
<div id="articles" data-bs-spy="scroll" data-bs-target="#list-reviews"  tabindex="0">
    {% for review in articles %}
    <article class="article-post" id="list-item-{{ review.slug }}">
    <a href="{{ review.get_absolute_url }}" class="text-decoration-none"><h2 class="link-body-emphasis mb-2">{{ review.article.get_title|capfirst }}</h2>
    <h5 class="mb-1">{{ review.article.get_subtitle|capfirst }}</h5></a>
    <p class="mb-1 fst-italic">{{ review.article.journal }}</p>
    <p class="mb-1">Submitted {{ review.get_review_date|date:"F Y" }} by <a href="{{ review.author.get_absolute_url }}">{{ review.author }}</a></p>
    <p class="mb-3 fw-lighter">Read by {{ review.get_hits }} Journal Watch subscribers</p>
    <div class="d-flex mt-auto justify-content-between align-items-center">
        <div class="btn-group">
            <a role="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="popover" data-bs-title="{{ review.article.journal }}" data-bs-content="{{ review.article.citation }}">Citation</a>
            <a href="{{ review.article.url }}" type="button" class="btn btn-sm btn-outline-secondary" target="_blank" rel="noopener noreferrer">View full text article</a>
        </div>
    </div>
    <div class="mt-3 mb-3">
        {% include 'fragments/share_buttons.html' with share_title=review.share_title canonical_url=review.canonical_url share_text=review.share_text bluesky_share_url=review.bluesky_share_url x_share_url=review.x_share_url facebook_share_url=review.facebook_share_url email_share_url=review.email_share_url %}
    </div>
    <p class="text-break">{{ review.get_markdown_body|safe }}</p>
    {% include 'fragments/review_tags_inline.html' %}
    <p class="mb-3"><a href="#top">Back to top</a></p>
    </article>
    <div
    hx-get="/analytics/page/review/{{ review.slug }}"
    hx-trigger="intersect once threshold:0.6"
    hx-swap="none"></div>
{% endfor %}
</div>
{% endcache %}
