<div id="articles">
    <div class="row row-cols-{{ article_cols }} g-3 p-3">
        {% for review in articles %}
        <div class="col">
            <div class="card shadow-sm">
                {% if review.image %}<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>{% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ review.article.journal }}</h5>
                    <p class="card-text">{{ review.get_truncated_body }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ review.get_absolute_url }}" type="button" class="btn btn-sm btn-outline-secondary">Article review</a>
                                {% if review.article.url %}<a href="{{ review.article.url }}" type="button" class="btn btn-sm btn-outline-secondary">View full text article</a>{% endif %}
                            </div>
                            {% with time=review.get_reading_time %}
                            <small class="text-body-secondary">{{ time }} min{{ time|pluralize }}</small>
                            {% endwith %}
                        </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
