{% load render_bundle from webpack_loader %}
{% render_bundle 'project' 'js' attrs='defer' %}
<div id="contents-list-group" hx-swap-oob="true" class="mb-3 pb-3">
    <div class="row d-flex align-items-center">
        <div class="col"><h4 class="fst-italic mb-3">Contents</h4></div>
        {% if page_obj.paginator.num_pages > 1 %}
        <div class="col">
            <ul class="pagination pagination-sm">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a
                    class="page-link"
                    href="?page={{ page_obj.previous_page_number }}#articles"
                    hx-get="{{ request.path }}?page={{ page_obj.previous_page_number }}"
                    hx-target="#article-block">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link">{{ page }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page }}" hx-get="{{ request.path }}?page={{ page }}" hx-target="#article-block">{{ page }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                    href="?page={{ page_obj.next_page_number }}"
                    hx-get="{{ request.path }}?page={{ page_obj.next_page_number }}"
                    hx-target="#article-block">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div id="list-reviews" class="list-group">
        {% for review in articles %}
        <a class="list-group-item list-group-item-action " href="#list-item-{{ review.slug }}">{{ review }}</a>
        {% endfor %}
      </div>
</div>
