<div id="articles">
        <div class="row row-cols-{{ issue_cols }} g-3 py-2">
            {% for issue in issues %}
            <div class="col">
                <div class="card ">
                    {% with issue.issue_detail_page.feature_article as feature %}
                    {% if image %}
                    <img src="{{ feature.image.url}}" height="225" class="w-100 center-thumbnail object-fit-cover rounded-top">
                    {% else %}
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ issue.name }}</h5>
                        <p class="card-text">{{ feature.body }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ issue.get_absolute_url }}" type="button" class="btn btn-sm btn-outline-secondary">View issue</a>
                                </div>
                                <small class="text-body-secondary">{{ issue.reviews.all|length }} articles{{ time|pluralize }}</small>
                            </div>
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
</div>
