{% load cache %}
{% cache 1800 "issues_cards" content_cache_version request.get_full_path %}
<div id="articles">
        <div class="row row-cols-{{ issue_cols }} g-3 py-2">
            {% for issue in issues %}
            <div class="col">
                <div class="card js-card-link"
                    tabindex="0"
                    role="link"
                    data-card-href="{{ issue.get_absolute_url }}"
                    aria-label="Open issue {{ issue.name }}">
                    {% with issue_image=issue.get_issue_image %}
                    {% if issue_image %}
                    <img src="{{ issue_image.url}}" height="225" class="w-100 center-thumbnail object-fit-cover rounded-top">
                    {% else %}
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ issue.name }}</h5>
                        <p class="card-text">{{ issue.body|truncatewords:30 }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ issue.get_absolute_url }}" type="button" class="btn btn-sm btn-outline-secondary">View issue</a>
                                </div>
                                <small class="text-body-secondary">{{ issue.reviews.all|length }} article{{ issue.reviews.all|pluralize }}</small>
                            </div>
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
</div>
    {% endcache %}
