<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary main-feature">
    {% if content.image %}
    <div class="transparent-overlay"></div>
    <img src="{{ content.image.url }}" alt="Feature Image" class="feature-image">
    {% endif %}
    <div class="row">
    <div class="col-lg-8 feature-content">
        <h1 class="display-4 fst-italic">{% firstof header_object.title content.title %}</h1>
        <div class="lead my-3">{% firstof header_object.get_truncated_body content.get_truncated_body %}</div>
        {% if truncated %}
        <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
        {% endif %}
      </div>
    </div>
</div>
