<div id="articles">
    <div class="row row-cols-{{ article_cols }} g-3 py-2">
        {% for article in tag.articles.all %}
        {% with article.reviews.last as review %}
        <div class="col">
            <div class="card shadow-sm h-100">
                {% if review.feature_image %}
                <img src="{{ review.feature_image.url}}" height="225" class="w-100 center-thumbnail object-fit-cover rounded-top">
                {% endif %}
                <div class="d-flex card-body flex-column">
                    <h5 class="card-title">{{ article.get_title|capfirst }}</h5>
                    {% if article.get_subtitle %}<p class="card-subtitle mb-1">{{ article.get_subtitle|capfirst }}</p>{% endif %}
                    <div class="mb-2"></div>
                    <p class="card-subtitle text-muted mb-1 fst-italic">{{ article.journal }}</a>
                    <p class="card-subtitle text-muted mb-1">Reviewed {{ review.created|date:"F Y" }} by <a href="{{ review.author.get_absolute_url }}">{{ review.author }}</a></p>
                    <div class="mb-2"></div>
                    <p class="card-text">{{ review.get_truncated_body }}</p>
                        <div class="d-flex mt-auto justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-{{ review.slug }}"
                                    hx-get="{{ review.get_absolute_url }}"
                                    hx-indicator="#indicator-{{ review.slug }}"
                                    hx-target="#container-{{ review.slug }}"
                                    >Review</a>
                                    {% if article.url %}<a href="{{ article.url }}" type="button" class="btn btn-sm btn-outline-secondary">View full text article</a>{% endif %}
                                </div>
                        </div>
                </div>
            </div>
        </div>
        {% include 'layout/fragments/modal.html' %}
        {% endwith %}
        {% endfor %}
    </div>
</div>
