{% extends "base.html" %}
{% load static %}

{% block title %}Page not found{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="p-3">
            <img src="{% static "images/errors/emoji-dizzy.svg" %}" alt="Error 404" width="100px">
        </div>
        <h1>404 Page Not Found</h1>

        <p>We couldn't find the page you were looking for.</p>
        <p>Try again from the <a href="{% url "home" %}" class="text-decoration-none">home page</a></p>
    </div>
</div>
{% endblock content %}
