{% load static i18n %}{% load render_bundle from webpack_loader %}{% load view_breadcrumbs %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head><script src="{% static 'js/color-modes.js'%}"></script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Journal Watch{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A web application for the Society of Paediatric Anaesthesia in New Zealand and Australia - Journal Watch">
    <meta name="author" content="Eamonn Upperton">

    <link rel="icon" href="{% static 'images/logo/square-brackets.svg' %}" type="image/svg" size='any' media="(prefers-color-scheme: light)">
    <link rel="icon" href="{% static 'images/logo/square-brackets-white.svg' %}" type="image/svg" size='any' media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#152b3b">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->


    <!-- This file stores project-specific CSS -->
    {% render_bundle 'project' 'css' %}
    <link rel="stylesheet" href="{% static 'css/theme.css'%}">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file -->
      {% render_bundle 'vendors' 'js' attrs='defer' %}

      <!-- place project specific Javascript in this file -->
      {% render_bundle 'project' 'js' attrs='defer' %}


    {% endblock javascript %}

  </head>

  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
      </symbol>
    </svg>
    <div class="dropdown position-fixed bottom-0 end-0 bd-mode-toggle px-3 px-lg-5">
      <button class="btn btn-bd-primary py-2 my-3 dropdown-toggle d-flex align-items-center"
              id="bd-theme"
              type="button"
              aria-expanded="false"
              data-bs-toggle="dropdown"
              aria-label="Toggle theme (auto)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#sun-fill"></use></svg>
            Light
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
            Dark
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
            Auto
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
      </ul>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="aperture" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="10"/>
        <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
      </symbol>
      <symbol id="cart" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
      <symbol id="chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </symbol>
    </svg>

    <!-- Container for HTMX messages -->
    {% include "fragments/messages.html" %}
    <!-- /container -->

    <div class="container">
      <header class="border-bottom lh-1 py-3">
        <div class="row align-items-center">
          {% if request.session.subscribed %}
            <div class="col-sm-4 d-flex order-2 order-sm-1 justify-content-center justify-content-sm-start align-items-center" id="subscribe-container">
                <a class="btn btn-outline-success btn-sm" hx-get="{% url "newsletter:subscribe" %}" hx-target="#subscribe-container" hx-swap="innerHTML transition:true">Subscribed!</a>
            </div>
            {% else %}
            <div class="col-sm-4 order-2 order-sm-1 justify-content-sm-start align-items-center input-group input-group-sm" id="subscribe-container">
                <a class="btn btn-outline-secondary" hx-get="{% url "newsletter:subscribe" %}" hx-target="#subscribe-container" hx-swap="innerHTML transition:true">Subscribe</a>
            </div>
          {% endif %}
          <div class="col-sm-4 order-1 order-sm-2 pb-2 pb-sm-0 text-center">
            <a class="blog-header-logo text-body-emphasis text-decoration-none" href="{% url 'home' %}">Journal Watch</a>
          </div>
          <div class="col-sm-4 order-3 order-sm-3 justify-content-sm-end align-items-center">
            {% comment %}<a class="btn btn-sm btn-outline-secondary" href="#" hx-get="{% url "newsletter:subscribe" %}" hx-target="#subscribe-container" hx-swap="beforeend">Sign up</a>{% endcomment %}
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-3 border-bottom">
        <nav class="nav nav-underline justify-content-between">
          <a class="nav-item nav-link link-body-emphasis{% if request.resolver_match.url_name in 'home' %} active{% endif %}" href="{% url "home" %}">Home</a>
          <a class="nav-item nav-link link-body-emphasis{% if request.resolver_match.url_name in 'submissions:issue_detail' %} active{% endif %}" href="{% url "submissions:issue_latest" %}">This issue</a>
          <a class="nav-item nav-link link-body-emphasis{% if request.resolver_match.url_name in 'submissions:issue_list' %} active{% endif %}" href="{% url "submissions:issue_list" %}">Previous issues</a>
          <a class="nav-item nav-link link-body-emphasis{% if request.resolver_match.url_name in 'submissions:review_detail, submissions:search' %} active{% endif %}" href="{% url "submissions:search" %}" href="#" aria-label="Search">
            <svg class="d-inline-flex"xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
            Reviews
          </a>
          <a class="nav-item nav-link link-body-emphasis{% if request.resolver_match.url_name in 'submissions:about, submissions:author_detail' %} active{% endif %}" href="{% url "submissions:about" %}">About</a>
          {% comment %}<a class="nav-item nav-link link-body-emphasis{# if request.resolver_match.url_name in 'submissions:issue_list' %} {% endif #}" href="#">Dashboard</a>{% endcomment %}
        </nav>
      </div>
    </div>

    <main class="container">
      {% block main-feature %}{% endblock main-feature %}
      {% block card-feature %}{% endblock card-feature %}
      <div class="row py-2" id="top">
        <div class="col-md-8 pb-4">
          {% block content %}{% endblock content %}
          {% block breadcrumbs %}
          {% render_breadcrumbs %}
          {% endblock %}
          {% block article-title %}{% endblock article-title %}
          {% block article-block %}
          {% block articles %}{% endblock articles %}
          {% block pagination %}{% endblock pagination %}
          {% endblock article-block %}
        </div>
        {% block sidebar %}
        <div class="col-md-4 {% if arrange_sidebar_top %}order-first order-md-0{% endif %}">
          <div class="position-sticky" style="top: 2rem;">
            {% block additional_sidebar_content %}{% endblock additional_sidebar_content %}
            {% include 'fragments/sidebar_content.html' %}
          </div>
        </div>
        {% if arrange_sidebar_top %}
        <div class="col d-block d-md-none">
          {% with arrange_sidebar_top=False %}
          {% include 'fragments/sidebar_content.html' %}
          {% endwith %}
        </div>
        {% endif %}
      </div>
      {% endblock sidebar %}

    </main>

    {% block modal %}{% endblock modal %}

    <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
      <a href="https://www.spanza.org.au/"><img src="{% static "images/logo/spanza-logo-wide.png" %}" alt="SPANZA Logo" width="300" class="py-3"></a>
      <p class="mb-5">
        <a href="#">Back to top</a>
      </p>
    </footer>

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}

  </body>
</html>
