{% extends 'base.html' %}
{% load static %}
{% block main-feature %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-8 px-0">
        <h1 class="display-4 fst-italic">Journal Watch Contributor</h1>
        <div class="lead my-3">Reviews submitted by {{ author }} are listed below</div>
    </div>
</div>
{% endblock main-feature %}

{% block card-feature %}
<h2 class="link-body-emphasis mb-2">{{ author|capfirst }}</h2>
{% for service in author.health_services.all %}
<h5 class="mb-2">{{ service|capfirst }}</h5></a>
{% endfor %}
{% endblock card-feature %}

{% if reviews %}
{% block article-block %}
<div id="article-block">
    {% block articles %}
    {% include "layout/fragments/articles.html" with shared_review_modal="author-review-modal" %}
    {% endblock articles %}

    {% block pagination %}
    {% if page_obj.paginator.num_pages > 1 %}
    {% include "fragments/pagination.html" %}
    {% endif %}
    {% endblock pagination %}
    </div>
{% endblock article-block %}
{% endif %}

{% block mobile_action_dock %}
{% endblock mobile_action_dock %}

{% block desktop_action_dock %}
{% endblock desktop_action_dock %}

{% block modal %}
<div class="modal fade pb-5" id="author-review-modal" tabindex="-1" aria-labelledby="author-review-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="author-review-modal-label">Journal Watch - Review</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <img src="{% static "images/spinners/3-dots-move.svg" %}" id="author-review-modal-indicator" class="htmx-indicator">
                </div>
                <div class="container p-2 px-md-5" id="author-review-modal-container" data-shared-review-modal-container></div>
            </div>
            <div class="modal-footer sticky-modal-footer">
                <div class="sticky-modal-footer__inner">
                    <div class="d-flex flex-wrap justify-content-end align-items-center gap-2">
                        <a rel="bookmark" href="#" data-shared-review-modal-permalink class="icon-link gap-1 icon-link-hover text-decoration-none d-none">Permalink<svg class="bi"><use xlink:href="#chevron-right"/></svg></a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<template data-review-modal-dock-template="author-review-modal">
    {% include "fragments/sticky_pager_actions.html" with is_modal_navigation=True modal_id="author-review-modal" aria_label="Review modal navigation" %}
</template>
{% endblock modal %}
