{% extends 'base.html' %}
{% load static %}
{% block main-feature %}
{% include "fragments/main_feature.html" with title=author|capfirst body="Browse reviews written by this Journal Watch contributor." header_theme="about" header_pattern="halo" header_kicker="Contributor profile" %}
{% endblock main-feature %}

{% block card-feature %}
<h2 class="link-body-emphasis mb-2">{{ author|capfirst }}</h2>
{% for service in author.health_services.all %}
<h5 class="mb-2">{{ service|capfirst }}</h5></a>
{% endfor %}
{% endblock card-feature %}

{% if reviews %}
{% block article-block %}
<div id="article-block">
    {% block articles %}
    {% include "layout/fragments/articles.html" with shared_review_modal="author-review-modal" %}
    {% endblock articles %}

    {% block pagination %}
    {% if page_obj.paginator.num_pages > 1 %}
    {% include "fragments/pagination.html" %}
    {% endif %}
    {% endblock pagination %}
    </div>
{% endblock article-block %}
{% endif %}

{% block mobile_action_dock %}
{% endblock mobile_action_dock %}

{% block desktop_action_dock %}
{% endblock desktop_action_dock %}

{% block modal %}
<div class="modal fade" id="author-review-modal" tabindex="-1" aria-labelledby="author-review-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="author-review-modal-label">Journal Watch - Review</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <img src="{% static "images/spinners/3-dots-move.svg" %}" id="author-review-modal-indicator" class="htmx-indicator">
                </div>
                <div class="container p-2 px-md-5" id="author-review-modal-container" data-review-modal-container data-shared-review-modal-container></div>
            </div>
        </div>
    </div>
</div>
<template data-review-modal-dock-template="author-review-modal">
    {% include "fragments/sticky_pager_actions.html" with is_modal_navigation=True modal_id="author-review-modal" aria_label="Review modal navigation" %}
</template>
{% endblock modal %}
