{% extends 'base.html' %}
{% block main-feature %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-8 px-0">
        <h1 class="display-4 fst-italic">About</h1>
        <div class="lead my-3">Contributors from the following health services have written reviews for Journal Watch</div>
    </div>
</div>
{% endblock main-feature %}
{% block article-block %}
<div class="container pt-3">
    {% for service in health_services %}
    <div class="row g-4 pb-5 d-flex align-items-start justify-content-start ">
        <div class="col-12 col-lg-3">
            {% if service.is_logo_authorised %}
            <div class="fs-2 mb-3">
                <img src="{{ service.logo.url }}" height="100" class="w-100 object-fit-contain">
            </div>
            {% else %}
            <div class="fs-2 mb-3">
                <svg class="rounded" height="100" width="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
            </div>
            {% endif %}
        </div>
        <div class="col-12 col-lg-6">
            <h3 class="fs-2 text-body-emphasis">{{ service }}</h3>
            {% for author in service.authors.all %}
            <p><a href="{{ author.get_absolute_url}}" class="text-decoration-none">{{ author }}</a>
                {% comment "" %}<br><small>{{ author.get_review_count }} review{{ author.get_review_count|pluralize }}</small>{% endcomment %}
            </p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock article-block %}
