{% extends 'base.html' %}

{% block main-feature %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Issues</h1>
        <p class="lead my-3">The Journal Watch community publishes a collection of reviews every few months. These publications are available below.</p>
    </div>
</div>
{% endblock main-feature %}

{% block article-title %}{% endblock article-title %}

{% block article-block %}
<div id="article-block">
    {% block articles %}
    {% include "submissions/fragments/issues.html" %}
    {% endblock articles %}

    {% block pagination %}
    {% if page_obj.paginator.num_pages > 1 %}
    {% include "submissions/fragments/article_pagination.html" %}
    {% endif %}
    {% endblock pagination %}
</div>
{% endblock article-block %}
