{% extends 'base.html' %}

{% block main-feature %}

    {% with issue.main_feature as content %}{% with issue.name as content.title %}
    {% include "submissions/fragments/main_feature.html" %}
    {% endwith %}{% endwith %}

{% endblock main-feature %}

{% block article-title %}
{% endblock article-title %}

{% block article-block %}
<div id="article-block">
    {% block articles %}
    {% include "submissions/fragments/article_full.html" %}
    {% endblock articles %}

    {% block pagination %}
    {% if page_obj.paginator.num_pages > 1 %}
    {% include "submissions/fragments/article_pagination.html" %}
    {% endif %}
    {% endblock pagination %}
</div>

{% endblock article-block %}

{% block additional_sidebar_content %}
{% include 'submissions/fragments/contents_list_group.html' %}
{% endblock additional_sidebar_content %}
