{% extends 'base.html' %}

{% block analytics_page_attr %} data-analytics-page="issues"{% endblock analytics_page_attr %}

{% block main-feature %}
{% if page_header %}
    {% with page_header as content %} {% include "fragments/main_feature.html" with header_kicker="Archive" %} {% endwith %}
    {% else %}
    {% include "fragments/main_feature.html" with title="Issues" body="The Journal Watch community publishes a collection of reviews every few months. These publications are available below." header_theme="issues" header_pattern="stack" header_kicker="Archive" %}
{% endif %}
{% endblock main-feature %}

{% block article-title %}{% endblock article-title %}

{% block article-block %}
<div id="article-block">
    {% block articles %}
    {% include "submissions/fragments/issues.html" %}
    {% endblock articles %}

    {% block pagination %}
    {% if page_obj.paginator.num_pages > 1 %}
        {% include "submissions/fragments/issue_list_pagination.html" %}
{% endif %}
    {% endblock pagination %}
</div>
{% endblock article-block %}

{% block mobile_action_dock %}
{% if page_obj.paginator.num_pages > 1 %}
{% include "fragments/sticky_pager_actions.html" with aria_label="Issue list quick navigation" %}
{% endif %}
{% endblock mobile_action_dock %}

{% block desktop_action_dock %}
{% if page_obj.paginator.num_pages > 1 %}
{% include "fragments/sticky_pager_actions.html" with aria_label="Issue list quick navigation" %}
{% endif %}
{% endblock desktop_action_dock %}
