{% extends 'base.html' %}
{% block main-feature %}
    {% if page_header %}
    {% with page_header as content %}
    {% include "fragments/main_feature.html" %}
    {% endwith %}
    {% else %}
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-8 px-0">
            <h1 class="display-4 fst-italic">Review</h1>
            <div class="lead my-3">A review of a journal article created by a Journal Watch contributor</div>
        </div>
    </div>
    {% endif %}

{% endblock main-feature %}

{% block article-block %}
<article class="article-post">
<h2 class="card-title">{{ review.article.get_title|capfirst }}</h2>
{% if review.article.get_subtitle %}<p class="card-subtitle mb-1">{{ review.article.get_subtitle|capfirst }}</p>{% endif %}
<p class="card-subtitle text-muted mb-1 fst-italic">{{ review.article.journal }}</a>
<p class="card-subtitle text-muted mb-3">Reviewed {{ review.created|date:"F Y" }} by <a href="{{ review.author.get_absolute_url }}">{{ review.author }}</a></p>
<div class="d-flex mt-auto justify-content-between align-items-center">
    <div class="btn-group">
        <a role="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="popover" data-bs-title="{{ review.article.journal }}" data-bs-content="{{ review.article.citation }}">Citation</a>
        <a href="{{ review.article.url }}" type="button" class="btn btn-sm btn-outline-secondary">View full text article</a>
    </div>
</div>
<p class="text-break">{{ review.body|wrapchars|safe|linebreaks }}</p>
</article>
{% if review.article.tags.all %}
<div>
    <h5>Tags for this article:</h5>
    <div class="row">
    {% for tag in review.article.tags.all %}
    <div class="col-2"><a href="{{ tag.get_absolute_url }}" class="text-decoration-none">{{ tag }}</a></div>
    {% endfor %}
    </div>
</div>
{% endif %}
{% endblock article-block %}
