{% extends 'base.html' %}
{% load static %}

{% block main-feature %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-8 px-0">
        <h1 class="display-4 fst-italic">Search</h1>
        <div class="lead my-3">Find reviews, articles and journals here.</div>
        <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
    </div>
</div>
{% endblock main-feature %}

{% block article-block %}
<div>
    <form action="{% url "submissions:search" %}" method="get" class="d-flex" id="search-form">
        <div class="input-group m-3 col">
            <input autofocus type="search"
            id='autocompleteInput'
            class="form-control"
            placeholder="{% if request.GET.q %}{{ request.GET.q|capfirst }}{% else %}Start typing here...{% endif %}"
            aria-label="Search"
            aria-describedby="button-addon"
            name="q"
            hx-get="/search"
            hx-trigger="keyup changed delay:500ms, search"
            hx-target="#search-results"
            hx-indicator=".htmx-indicator">
            <div class="input-group-append">
            <button class="btn btn-outline-primary rounded-0" type="submit" id="button-addon">Search</button>
            </div>
        </div>
    </form>
</div>
<span class="d-flex justify-content-center htmx-indicator ">
    <img src="{% static "images/spinners/3-dots-move.svg" %}"/>
</span>
<div id="search-results">
{% include "submissions/fragments/search_results.html" %}
</div>
{% endblock article-block %}
