{% extends 'base.html' %}
{% load static %}

{% block additional_js %}
<script src="{% static "js/autocomplete.js" %}" data-tags-url="{% url "submissions:ajax_get_tags" %}" defer></script>
{% endblock additional_js %}

{% block main-feature %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-8 px-0">
        <h1 class="display-4 fst-italic">Search</h1>
        <div class="lead my-3">Find reviews, articles and journals here.</div>
    </div>
</div>
{% endblock main-feature %}

{% block article-block %}
<div class="d-flex">
        <div class="input-group m-3">
            <input autofocus type="search"
            id='autocompleteInput'
            class="form-control"
            placeholder="Start typing here..."
            aria-label="Search"
            aria-describedby="button-addon"
            name="q"
            hx-get="/search"
            hx-trigger="keyup changed delay:500ms, search"
            hx-target="#search-results"
            hx-indicator=".htmx-indicator">
        </div>
</div>
<span class="d-flex justify-content-center htmx-indicator ">
    <img src="{% static "images/spinners/3-dots-move.svg" %}"/>
</span>
<div id="search-results" class="mx-3">
{% include "submissions/fragments/search_results.html" %}
</div>
{% endblock article-block %}
