<p>Thank you for subscribing to SPANZA Journal Watch.</p>
<p>You will receive updates with each issue of Journal Watch, which is published every two months.</p>
<p>You are receiving this email because you subscribed at <a href="https://journalwatch.org.au/">journalwatch.org.au</a> using the email {{ subscriber.email }}</p>
<p>You can unsubscribe at any time by visiting this link:<br><a href="{{ subscriber.get_unsubscribe_link}}">Unsubscribe Now</a></p>
<p>Sincerely,<br>The SPANZA Journal Watch team</p>
