{% load static %}
<form class="input-group input-group-sm pe-sm-0 pe-5" id="subscribe-form">
{% csrf_token %}
<img id="subscribe-spinner" class="htmx-indicator px-2" src="{% static "images/spinners/pulse-rings-multiple.svg" %}"/>
<button class="btn btn-outline-primary" type="submit" hx-post="{% url "newsletter:subscribe" %}" hx-target="#subscribe-container" hx-indicator="#subscribe-spinner">Submit</button>
{{ form.email }}
</form>
{% if form.errors %}
<div class="container-fluid p-0 sticky-top" id="oob-message" hx-swap-oob="true">
    <div class="alert alert-dismissible alert-primary">
        {% for error in form.email.errors %}
        {{ error|escape }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
