{% extends "base.html" %}
{% block additional_js %}
{% endblock additional_js %}

{% block main-feature %}
{% if page_header %}
    {% with page_header as content %}
    {% include "fragments/main_feature.html" %}
    {% endwith %}
    {% else %}
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-8 px-0">
            <h1 class="display-4 fst-italic">Welcome to Journal Watch</h1>
            <p class="lead my-3">Find reviews of the latest journal articles in the paediatric anaesthesia literature below</p>
        </div>
    </div>
{% endif %}
{% endblock main-feature %}

{% block card-feature %}
{% if card_features %}
<div class="row mb-2">
{% for feature in card_features %}
{% include "layout/fragments/card_feature.html" %}
{% endfor %}
</div>
{% endif %}
{% endblock card-feature %}

{% block article-title %}
<h3 class="mb-4 fst-italic">More in this issue:</h3>
{% endblock article-title %}
{% block article-block %}
<div id="article-block">
{% block articles %}
{% include "layout/fragments/articles.html" %}
{% endblock articles %}

{% block pagination %}
{% if page_obj.paginator.num_pages > 1 %}
{% include "layout/fragments/article_pagination.html" %}
{% endif %}
{% endblock pagination %}
</div>
{% endblock article-block %}
