{% extends "base.html" %}

{% block main-feature %}
{% include "layout/fragments/main_feature.html" %}
{% endblock main-feature %}

{% block card-feature %}
{% if card_features %}
<div class="row mb-2">
{% for feature in card_features %}
{% include "layout/fragments/card_feature.html" %}
{% endfor %}
</div>
{% endif %}
{% endblock card-feature %}

{% block article-title %}
<h3 class="pb-4 mb-4 fst-italic border-bottom">This issue:</h3>
{% endblock article-title %}
{% block article-block %}
<div id="article-block">
{% block articles %}
{% include "layout/fragments/articles.html" %}
{% endblock articles %}

{% block pagination %}
{% if page_obj.paginator.count > 1 %}
{% include "layout/fragments/article_pagination.html" %}
{% endif %}
{% endblock pagination %}
</div>
{% endblock article-block %}
