{% extends "base.html" %}
{% load static %}
{% block additional_js %}
{% endblock additional_js %}

{% block main-feature %}
{% if page_header %}
    {% with page_header as content %}
    {% include "fragments/main_feature.html" with header_kicker="Current issue" %}
    {% endwith %}
{% else %}
    {% include "fragments/main_feature.html" with title="Welcome to Journal Watch" body="Catch up on notable papers from the paediatric anaesthesia literature, chosen and reviewed by the community." header_theme="home" header_pattern="ripple" header_kicker="Current issue" %}
{% endif %}
{% endblock main-feature %}

{% block card-feature %}
{% if card_features %}
<div class="row mb-2">
{% for feature in card_features %}
{% cycle 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' as feature_pattern silent %}
{% include "layout/fragments/card_feature.html" with shared_review_modal="home-review-modal" pattern_variant=feature_pattern %}
{% endfor %}
</div>
{% endif %}
{% endblock card-feature %}

{% block article-title %}
<h3 class="mb-4 fst-italic">More in this issue:</h3>
{% endblock article-title %}
{% block article-block %}
<div id="article-block">
{% block articles %}
{% include "layout/fragments/articles.html" with card_modal_click=True shared_review_modal="home-review-modal" %}
{% endblock articles %}

{% block pagination %}
{% if page_obj.paginator.num_pages > 1 %}
{% include "layout/fragments/home_pagination.html" %}
{% endif %}
{% endblock pagination %}
</div>
{% endblock article-block %}

{% block mobile_action_dock %}
{% endblock mobile_action_dock %}

{% block desktop_action_dock %}
{% endblock desktop_action_dock %}

{% block modal %}
<div class="modal fade" id="home-review-modal" tabindex="-1" aria-labelledby="home-review-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="home-review-modal-label">Journal Watch - Review</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <img src="{% static "images/spinners/3-dots-move.svg" %}" id="home-review-modal-indicator" class="htmx-indicator">
                </div>
                <div class="container p-2 px-md-5" id="home-review-modal-container" data-review-modal-container data-shared-review-modal-container></div>
            </div>
        </div>
    </div>
</div>
<template data-review-modal-dock-template="home-review-modal">
    {% include "fragments/sticky_pager_actions.html" with is_modal_navigation=True modal_id="home-review-modal" aria_label="Review modal navigation" %}
</template>
{% endblock modal %}
