{% extends "base.html" %}

{% block main-feature %}
<h1 class="display-4 fst-italic">{{ main_feature.title }}</h1>
<p class="lead my-3">{{ main_feature.body }}</p>
<p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
{% endblock main-feature %}

{% block card-feature %}
{% for feature in card_features %}
{% include "fragments/card_feature.html" %}
{% endfor %}
{% endblock card-feature %}

{% block articles %}
{% for article in body_articles %}
{% include "fragments/article_post.html" %}
{% endfor %}
{% endblock articles %}
